In [1]:
import pandas as pd

df = pd.read_csv("cleaned_cricket.csv")
df

,Player,Inns,Highest_Inns_Score,Batting_Strike_Rate,Hundreds,Fifties,Ducks,Country,Start_Career,Retire_Career
0,DG Bradman,80,334,58.60,29,13,7,AUS,1928,1948
1,HC Brook,20,186,91.76,4,7,1,ENG,2022,2023
2,AC Voges,31,269,55.68,5,4,2,AUS,2015,2016
3,RG Pollock,41,274,54.48,7,11,1,SA,1963,1970
4,GA Headley,40,270,56.00,10,5,2,WI,1930,1954
...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,125,250,49.16,15,33,4,AUS,1965,1981
58,GC Smith,205,277,59.67,27,38,11,ICC/SA,2002,2014
59,WH Ponsford,48,266,44.77,7,6,1,AUS,1924,1934
60,SJ McCabe,62,232,60.02,6,13,4,AUS,1930,1938
61,DR Jardine,33,127,25.59,1,10,2,ENG,1928,1934

# Question 1 -> What is the Average Career Length

In [2]:
df['Career_Length'] = (df['Retire_Career'] - df['Start_Career'])
df['Career_Length'].mean()

13.193548387096774

# Question 2 -> AVG Batting_Strike_Rate for cricketers who played over 10 years

In [3]:
df.loc[df['Career_Length'] > 10, 'Batting_Strike_Rate'].mean()

50.21499999999999

# Question 3 -> Find number of cricketers who played before 1960

In [4]:
df.loc[df['Start_Career'] < 1960, 'Player'].count()

23

# Question 4 -> Max Highest Inns Score by Country

In [5]:
df.groupby('Country')['Highest_Inns_Score'].max().sort_values(ascending=False)

Country
ICC/WI     400
AUS        380
SL         374
WI         365
ENG        364
ICC/PAK    329
ICC/IND    319
PAK        313
SA         278
ICC/SA     277
IND        254
NZ         251
ZIM        232
Name: Highest_Inns_Score, dtype: int64

# Question 5 -> Hundreds, Fifties, Ducks (0) AVG by Country

In [6]:
df.groupby('Country')[['Hundreds', 'Fifties', 'Ducks']].mean()

          Hundreds    Fifties      Ducks
Country
AUS      20.625000  28.375000   8.562500
ENG      12.384615  20.846154   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000