# Import file

In [1]:
import pandas as pd
import re

df = pd.read_csv("raw_audible.csv")
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

# Check duplicates

In [3]:
df.duplicated().sum()

0

# Check Null

In [4]:
df.isna().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

# Author column

In [5]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [6]:
# To check that all rows start with 'Writtenby:'
assert df['author'].str.startswith("Writtenby:").sum() == len(df), \
    "There is some rows doesn't start with 'Writtenby:'"

In [7]:
df['author'] = df['author'].str.replace('Writtenby:', '')
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

# Narrator column

In [8]:
# To check that all rows start with 'Narrated:'
assert df['narrator'].str.startswith("Narratedby:").sum() == len(df), \
    "There is some rows doesn't start with 'Narratedby:'"

In [9]:
df['narrator'] = df['narrator'].str.replace('Narratedby:', '')
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

# Time column

In [10]:
# Split to Hour and Minutes
df['time'] = df['time'].str.strip()
df[['hour', 'minutes']] = df['time'].str.split(' and ', expand=True)
df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2 hrs,20 mins
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,13 hrs,8 mins
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2 hrs,3 mins
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,11 hrs,16 mins
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,10 hrs,None
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,7 hrs,34 mins
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,10 hrs,7 mins
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,19 hrs,4 mins
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,4 hrs,8 mins
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,6 hrs,1 min

### Hour column

In [11]:
# Filter for rows that end with hrs
endswith_hrs = df['hour'].str.endswith('hrs')
df[endswith_hrs]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,2 hrs,20 mins
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,13 hrs,8 mins
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,2 hrs,3 mins
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,11 hrs,16 mins
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,10 hrs,None
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,7 hrs,34 mins
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,10 hrs,7 mins
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,19 hrs,4 mins
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,4 hrs,8 mins
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,6 hrs,1 min

In [12]:
# Filter for other pattern
df[~df['hour'].str.endswith('hrs')]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
29,Mystery of the Griefer's Mark,WinterMorgan,LukeDaniels,1 hr and 53 mins,25-11-14,English,5 out of 5 stars9 ratings,233.00,1 hr,53 mins
39,Treasure Hunters in Trouble,WinterMorgan,LukeDaniels,1 hr and 58 mins,31-03-15,English,5 out of 5 stars7 ratings,668.00,1 hr,58 mins
43,Rowley Jefferson's Awesome Friendly Adventure,JeffKinney,ChristopherGebauer,1 hr and 31 mins,04-08-20,English,4 out of 5 stars16 ratings,410.00,1 hr,31 mins
53,The Gruffalo's Child,"JuliaDonaldson,AxelScheffler",ImeldaStaunton,22 mins,19-08-10,English,4.5 out of 5 stars4 ratings,323.00,22 mins,None
62,Unicorn Academy: Aisha and Silver,JulieSykes,KristinAtherton,1 hr and 34 mins,10-03-22,English,Not rated yet,266.00,1 hr,34 mins
...,...,...,...,...,...,...,...,...,...,...
87459,Antietam,JeffShaara,RobertsonDean,48 mins,26-03-07,English,Not rated yet,200.00,48 mins,None
87460,Italian Word Booster,Vocabulearn,uncredited,1 hr and 5 mins,25-09-06,English,Not rated yet,233.00,1 hr,5 mins
87467,Spanish Word Booster,Vocabulearn,uncredited,1 hr and 3 mins,25-09-06,English,Not rated yet,233.00,1 hr,3 mins
87471,New Market,JeffShaara,RobertsonDean,31 mins,26-03-07,English,Not rated yet,200.00,31 mins,None
87473,Vicksburg,JeffShaara,RobertsonDean,42 mins,26-03-07,English,Not rated yet,200.00,42 mins,None

In [13]:
# Filter for rows that end with hr
endswith_hr = df['hour'].str.endswith('hr')
df[endswith_hr]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
29,Mystery of the Griefer's Mark,WinterMorgan,LukeDaniels,1 hr and 53 mins,25-11-14,English,5 out of 5 stars9 ratings,233.00,1 hr,53 mins
39,Treasure Hunters in Trouble,WinterMorgan,LukeDaniels,1 hr and 58 mins,31-03-15,English,5 out of 5 stars7 ratings,668.00,1 hr,58 mins
43,Rowley Jefferson's Awesome Friendly Adventure,JeffKinney,ChristopherGebauer,1 hr and 31 mins,04-08-20,English,4 out of 5 stars16 ratings,410.00,1 hr,31 mins
62,Unicorn Academy: Aisha and Silver,JulieSykes,KristinAtherton,1 hr and 34 mins,10-03-22,English,Not rated yet,266.00,1 hr,34 mins
69,Unicorn Academy: Zara and Moonbeam,JulieSykes,KristinAtherton,1 hr and 35 mins,10-03-22,English,Not rated yet,266.00,1 hr,35 mins
...,...,...,...,...,...,...,...,...,...,...
87452,French Word Booster,Vocabulearn,uncredited,1 hr and 4 mins,25-09-06,English,Not rated yet,233.00,1 hr,4 mins
87456,Gettysburg,JeffShaara,RobertsonDean,1 hr and 12 mins,26-03-07,English,Not rated yet,200.00,1 hr,12 mins
87458,German Word Booster,Vocabulearn,uncredited,1 hr and 5 mins,25-09-06,English,Not rated yet,233.00,1 hr,5 mins
87460,Italian Word Booster,Vocabulearn,uncredited,1 hr and 5 mins,25-09-06,English,Not rated yet,233.00,1 hr,5 mins
87467,Spanish Word Booster,Vocabulearn,uncredited,1 hr and 3 mins,25-09-06,English,Not rated yet,233.00,1 hr,3 mins

In [14]:
# Filter for other rows that not end with hrs or hr
df[~(df['hour'].str.endswith('hrs') | (df['hour'].str.endswith('hr')))]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
53,The Gruffalo's Child,"JuliaDonaldson,AxelScheffler",ImeldaStaunton,22 mins,19-08-10,English,4.5 out of 5 stars4 ratings,323.00,22 mins,None
63,Laura Blackman and The Five Cunning Aardvarks,StellaRobson,DerekSteel,13 mins,15-12-21,English,Not rated yet,117.00,13 mins,None
71,El paseo encantado,Mattel,VanessaPérezJurado,33 mins,01-04-22,spanish,Not rated yet,76.00,33 mins,None
77,7 histoires d'aventures !,"BertrandFichou,NoraThullin,CatherinedeLasa,","GuyChappelier,FrédéricSanchez,MarieZidi,",43 mins,11-02-22,french,Not rated yet,679.00,43 mins,None
78,Le Loup qui devenait chef de la forêt,OrianneLallemand,WillProduction,9 mins,01-04-22,french,Not rated yet,112.00,9 mins,None
...,...,...,...,...,...,...,...,...,...,...
87450,Living Under the Volcano,JonKrakauer,ScottBrick,27 mins,27-02-18,English,Not rated yet,50.00,27 mins,None
87451,Embrace the Misery,JonKrakauer,ScottBrick,9 mins,27-02-18,English,Not rated yet,50.00,9 mins,None
87459,Antietam,JeffShaara,RobertsonDean,48 mins,26-03-07,English,Not rated yet,200.00,48 mins,None
87471,New Market,JeffShaara,RobertsonDean,31 mins,26-03-07,English,Not rated yet,200.00,31 mins,None
87473,Vicksburg,JeffShaara,RobertsonDean,42 mins,26-03-07,English,Not rated yet,200.00,42 mins,None

In [15]:
# Filter for rows that end with mins
endswith_mins = df['hour'].str.endswith('mins')
df[endswith_mins]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
53,The Gruffalo's Child,"JuliaDonaldson,AxelScheffler",ImeldaStaunton,22 mins,19-08-10,English,4.5 out of 5 stars4 ratings,323.00,22 mins,None
63,Laura Blackman and The Five Cunning Aardvarks,StellaRobson,DerekSteel,13 mins,15-12-21,English,Not rated yet,117.00,13 mins,None
71,El paseo encantado,Mattel,VanessaPérezJurado,33 mins,01-04-22,spanish,Not rated yet,76.00,33 mins,None
77,7 histoires d'aventures !,"BertrandFichou,NoraThullin,CatherinedeLasa,","GuyChappelier,FrédéricSanchez,MarieZidi,",43 mins,11-02-22,french,Not rated yet,679.00,43 mins,None
78,Le Loup qui devenait chef de la forêt,OrianneLallemand,WillProduction,9 mins,01-04-22,french,Not rated yet,112.00,9 mins,None
...,...,...,...,...,...,...,...,...,...,...
87450,Living Under the Volcano,JonKrakauer,ScottBrick,27 mins,27-02-18,English,Not rated yet,50.00,27 mins,None
87451,Embrace the Misery,JonKrakauer,ScottBrick,9 mins,27-02-18,English,Not rated yet,50.00,9 mins,None
87459,Antietam,JeffShaara,RobertsonDean,48 mins,26-03-07,English,Not rated yet,200.00,48 mins,None
87471,New Market,JeffShaara,RobertsonDean,31 mins,26-03-07,English,Not rated yet,200.00,31 mins,None
87473,Vicksburg,JeffShaara,RobertsonDean,42 mins,26-03-07,English,Not rated yet,200.00,42 mins,None

In [16]:
# Filter for other rows that not end with hrs, hr, or mins
df[~(df['hour'].str.endswith('hrs') | df['hour'].str.endswith('hr') | df['hour'].str.endswith('mins'))]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
1203,Food,DanielNunn,anonymous,1 min,16-03-22,English,Not rated yet,82.00,1 min,None
1210,Rainbow Sambhar,"AntraKhurana,MathangiSubramanian",ShaheenKhan,1 min,23-12-21,English,Not rated yet,32.00,1 min,None
1222,All About Snowmen,KathrynClay,anonymous,1 min,08-03-22,English,Not rated yet,82.00,1 min,None
1242,Birthday Cakes,SarahL.Schuette,anonymous,1 min,25-02-22,English,Not rated yet,82.00,1 min,None
1249,Birthday Party Games,SarahL.Schuette,Anonymous,1 min,21-02-22,English,Not rated yet,82.00,1 min,None
...,...,...,...,...,...,...,...,...,...,...
87171,第二十五話サン・ミシェルのいいカフェ：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,20-11-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87175,第九話オラン最後の夕べ：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,19-11-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87176,第一話リューベックの追憶:ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,23-07-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87180,第七話バグダードの茶屋:ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,13-07-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87192,第十八話バンコックの憂鬱：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,19-11-15,japanese,Not rated yet,139.00,Less than 1 minute,None

In [17]:
# Filter for rows that end with min
endswith_min = df['hour'].str.endswith('min')
df[endswith_min]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
1203,Food,DanielNunn,anonymous,1 min,16-03-22,English,Not rated yet,82.00,1 min,None
1210,Rainbow Sambhar,"AntraKhurana,MathangiSubramanian",ShaheenKhan,1 min,23-12-21,English,Not rated yet,32.00,1 min,None
1222,All About Snowmen,KathrynClay,anonymous,1 min,08-03-22,English,Not rated yet,82.00,1 min,None
1242,Birthday Cakes,SarahL.Schuette,anonymous,1 min,25-02-22,English,Not rated yet,82.00,1 min,None
1249,Birthday Party Games,SarahL.Schuette,Anonymous,1 min,21-02-22,English,Not rated yet,82.00,1 min,None
...,...,...,...,...,...,...,...,...,...,...
67112,The Qur'an: Surah 102 - At-Takathur,OneMediaiPLTD,A.Haleem,1 min,20-04-18,English,Not rated yet,76.00,1 min,None
67113,The Qur'an: Surah 99 - Az-Zalzala,OneMediaiPLTD,A.Haleem,1 min,13-04-18,English,Not rated yet,76.00,1 min,None
67114,The Qur'an: Surah 94 - Ash-Sharh aka El-Inshirah,OneMediaiPLTD,A.Haleem,1 min,13-04-18,English,Not rated yet,76.00,1 min,None
67120,The Qur'an: Surah 97 - Al-Qadr,OneMediaiPLTD,A.Haleem,1 min,13-04-18,English,Not rated yet,76.00,1 min,None
67122,The Qur'an: Surah 95 - At-Teen,OneMediaiPLTD,A.Haleem,1 min,13-04-18,English,Not rated yet,76.00,1 min,None

In [18]:
# Filter for rows that equal to Less than 1 minute
lessthan_one_min = df['hour'] == 'Less than 1 minute'
df[lessthan_one_min]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
1401,The Story of Ice Cream,StacyTaus-Bolstad,BookBuddyDigitalMedia,Less than 1 minute,01-01-21,English,Not rated yet,164.00,Less than 1 minute,None
1403,The Story of Salt,LisaOwings,BookBuddyDigitalMedia,Less than 1 minute,01-01-21,English,Not rated yet,164.00,Less than 1 minute,None
1404,The Story of Milk,StacyTaus-Bolstad,BookBuddyDigitalMedia,Less than 1 minute,01-01-21,English,Not rated yet,164.00,Less than 1 minute,None
1408,The Story of an Apple,StacyTaus-Bolstad,BookBuddyDigitalMedia,Less than 1 minute,01-01-21,English,Not rated yet,164.00,Less than 1 minute,None
1409,We Like the Summer,KatiePeters,BookBuddyDigitalMedia,Less than 1 minute,01-01-21,English,Not rated yet,164.00,Less than 1 minute,None
...,...,...,...,...,...,...,...,...,...,...
87171,第二十五話サン・ミシェルのいいカフェ：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,20-11-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87175,第九話オラン最後の夕べ：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,19-11-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87176,第一話リューベックの追憶:ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,23-07-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87180,第七話バグダードの茶屋:ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,13-07-15,japanese,Not rated yet,139.00,Less than 1 minute,None
87192,第十八話バンコックの憂鬱：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,19-11-15,japanese,Not rated yet,139.00,Less than 1 minute,None

In [19]:
# To check that the number of rows of all pattern is equivalent to the number of rows of df
assert len(df[endswith_hrs] + df[endswith_hr] + df[endswith_mins] + df[endswith_min] + df[lessthan_one_min]) == len(df), \
    "The number of rows do not consistent"

In [20]:
# Convert all value into minutes then cast to INTEGER type
df['hour'] = df['hour'].apply(lambda x: int(x.replace(' hrs', '').strip()) * 60 if x.endswith('hrs')
                                        else int(x.replace(' hr', '').strip()) * 60 if x.endswith('hr')
                                        else int(x.replace(' mins', '').strip()) if x.endswith('mins')
                                        else int(x.replace(' min', '').strip()) if x.endswith('min')   
                                        else 1 if x == 'Less than 1 minute'
                                        else x)

df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20 mins
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8 mins
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3 mins
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16 mins
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,None
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,420,34 mins
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,600,7 mins
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,1140,4 mins
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,240,8 mins
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1 min

### Minutes column

In [21]:
# Replace NULL with STRING 0
df['minutes'] = df['minutes'].fillna('0')
df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20 mins
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8 mins
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3 mins
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16 mins
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,420,34 mins
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,600,7 mins
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,1140,4 mins
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,240,8 mins
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1 min

In [22]:
# Filter for rows that end with mins
endswith_mins = df['minutes'].str.endswith('mins')
df[endswith_mins]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20 mins
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8 mins
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3 mins
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16 mins
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656.00,600,35 mins
...,...,...,...,...,...,...,...,...,...,...
87483,We Stood upon Stars,RogerW.Thompson,JohnMcLain,5 hrs and 55 mins,02-05-17,English,Not rated yet,351.00,300,55 mins
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,420,34 mins
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,600,7 mins
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,1140,4 mins
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,240,8 mins

In [23]:
# Filter for other pattern
df[~endswith_mins]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0
12,Magic Tree House Collection: Books 1-8,MaryPopeOsborne,MaryPopeOsborne,6 hrs and 1 min,27-09-11,English,5 out of 5 stars7 ratings,"1,206.00",360,1 min
47,Clash of the Creepers,WinterMorgan,LukeDaniels,2 hrs and 1 min,07-07-15,English,5 out of 5 stars10 ratings,233.00,120,1 min
48,The Skeletons Strike Back,WinterMorgan,LukeDaniels,2 hrs and 1 min,07-07-15,English,5 out of 5 stars7 ratings,233.00,120,1 min
53,The Gruffalo's Child,"JuliaDonaldson,AxelScheffler",ImeldaStaunton,22 mins,19-08-10,English,4.5 out of 5 stars4 ratings,323.00,22,0
...,...,...,...,...,...,...,...,...,...,...
87455,Join Me,DannyWallace,DannyWallace,5 hrs,28-05-09,English,Not rated yet,615.00,300,0
87459,Antietam,JeffShaara,RobertsonDean,48 mins,26-03-07,English,Not rated yet,200.00,48,0
87471,New Market,JeffShaara,RobertsonDean,31 mins,26-03-07,English,Not rated yet,200.00,31,0
87473,Vicksburg,JeffShaara,RobertsonDean,42 mins,26-03-07,English,Not rated yet,200.00,42,0
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1 min

In [24]:
# Filter for rows that end with min
endswith_min = df['minutes'].str.endswith('min')
df[endswith_min]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
12,Magic Tree House Collection: Books 1-8,MaryPopeOsborne,MaryPopeOsborne,6 hrs and 1 min,27-09-11,English,5 out of 5 stars7 ratings,"1,206.00",360,1 min
47,Clash of the Creepers,WinterMorgan,LukeDaniels,2 hrs and 1 min,07-07-15,English,5 out of 5 stars10 ratings,233.00,120,1 min
48,The Skeletons Strike Back,WinterMorgan,LukeDaniels,2 hrs and 1 min,07-07-15,English,5 out of 5 stars7 ratings,233.00,120,1 min
146,The Imagination Box: Beyond Infinity,MartynFord,JoshuaMcGuire,5 hrs and 1 min,28-09-21,English,Not rated yet,569.00,300,1 min
255,Black Panther - Kampen om Wakanda,"Marvel,CatoVandrare",BenjaminHagberg,1 hr and 1 min,08-02-22,swedish,Not rated yet,65.00,60,1 min
...,...,...,...,...,...,...,...,...,...,...
87214,Spaziergang durch Hamburg,JürgenDeppe,"GabrieleLibbach,PeterHeinrichBrix",1 hr and 1 min,12-02-09,german,Not rated yet,166.00,60,1 min
87281,Sagen aus Salzburg und dem Salzkammergut,AugustinKloiber,AugustinKloiber,1 hr and 1 min,18-03-10,german,Not rated yet,200.00,60,1 min
87361,Venicewalks,"ChasCarner,AlessandroGiannatasio",MariaTucci,3 hrs and 1 min,28-12-03,English,Not rated yet,422.00,180,1 min
87422,Alpenländische Weihnachtsgeschichten,"PeterRosegger,LudwigGanghofer","GerhardAcktun,BalbinaBrauel",1 hr and 1 min,07-11-14,german,Not rated yet,200.00,60,1 min
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1 min

In [25]:
# Filter for rows that not end with mins or min
df[~(endswith_mins | endswith_min)]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0
53,The Gruffalo's Child,"JuliaDonaldson,AxelScheffler",ImeldaStaunton,22 mins,19-08-10,English,4.5 out of 5 stars4 ratings,323.00,22,0
63,Laura Blackman and The Five Cunning Aardvarks,StellaRobson,DerekSteel,13 mins,15-12-21,English,Not rated yet,117.00,13,0
71,El paseo encantado,Mattel,VanessaPérezJurado,33 mins,01-04-22,spanish,Not rated yet,76.00,33,0
77,7 histoires d'aventures !,"BertrandFichou,NoraThullin,CatherinedeLasa,","GuyChappelier,FrédéricSanchez,MarieZidi,",43 mins,11-02-22,french,Not rated yet,679.00,43,0
...,...,...,...,...,...,...,...,...,...,...
87451,Embrace the Misery,JonKrakauer,ScottBrick,9 mins,27-02-18,English,Not rated yet,50.00,9,0
87455,Join Me,DannyWallace,DannyWallace,5 hrs,28-05-09,English,Not rated yet,615.00,300,0
87459,Antietam,JeffShaara,RobertsonDean,48 mins,26-03-07,English,Not rated yet,200.00,48,0
87471,New Market,JeffShaara,RobertsonDean,31 mins,26-03-07,English,Not rated yet,200.00,31,0
87473,Vicksburg,JeffShaara,RobertsonDean,42 mins,26-03-07,English,Not rated yet,200.00,42,0

In [26]:
# Filter for rows that is equal to 0
zero = df['minutes'] == '0'
df[zero]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0
53,The Gruffalo's Child,"JuliaDonaldson,AxelScheffler",ImeldaStaunton,22 mins,19-08-10,English,4.5 out of 5 stars4 ratings,323.00,22,0
63,Laura Blackman and The Five Cunning Aardvarks,StellaRobson,DerekSteel,13 mins,15-12-21,English,Not rated yet,117.00,13,0
71,El paseo encantado,Mattel,VanessaPérezJurado,33 mins,01-04-22,spanish,Not rated yet,76.00,33,0
77,7 histoires d'aventures !,"BertrandFichou,NoraThullin,CatherinedeLasa,","GuyChappelier,FrédéricSanchez,MarieZidi,",43 mins,11-02-22,french,Not rated yet,679.00,43,0
...,...,...,...,...,...,...,...,...,...,...
87451,Embrace the Misery,JonKrakauer,ScottBrick,9 mins,27-02-18,English,Not rated yet,50.00,9,0
87455,Join Me,DannyWallace,DannyWallace,5 hrs,28-05-09,English,Not rated yet,615.00,300,0
87459,Antietam,JeffShaara,RobertsonDean,48 mins,26-03-07,English,Not rated yet,200.00,48,0
87471,New Market,JeffShaara,RobertsonDean,31 mins,26-03-07,English,Not rated yet,200.00,31,0
87473,Vicksburg,JeffShaara,RobertsonDean,42 mins,26-03-07,English,Not rated yet,200.00,42,0

In [27]:
# To check that the number of rows of all pattern is equivalent to the number of rows of df
assert len(df[endswith_mins] + df[endswith_min] + df[zero]) == len(df), \
    "The number of rows do not consistent"

In [28]:
# Cast to INTEGER type
df['minutes'] = df['minutes'].apply(lambda x: int(x.replace(' mins', '').strip()) if x.endswith('mins')
                                        else int(x.replace(' min', '').strip()) if x.endswith('min')   
                                        else 0 if x == '0'
                                        else x)

df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0
...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,420,34
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,600,7
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,1140,4
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,240,8
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1

In [29]:
# Create new column named 'duration_mins', hour + minutes
df['duration_mins'] = df['hour'] + df['minutes']
df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes,duration_mins
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0,600
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,420,34,454
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,600,7,607
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,1140,4,1144
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,240,8,248
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1,361

In [30]:
df.dtypes

name             object
author           object
narrator         object
time             object
releasedate      object
language         object
stars            object
price            object
hour              int64
minutes           int64
duration_mins     int64
dtype: object

# Releasedate column

In [31]:
df.head(50)

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes,duration_mins
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0,600
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656.00,600,35,635
6,Quest for the Diamond Sword,WinterMorgan,LukeDaniels,2 hrs and 23 mins,25-11-14,English,5 out of 5 stars11 ratings,233.00,120,23,143
7,The Dark Prophecy,RickRiordan,RobbieDaymond,12 hrs and 32 mins,02-05-17,English,5 out of 5 stars50 ratings,820.00,720,32,752
8,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,10 hrs and 56 mins,02-05-17,English,5 out of 5 stars5 ratings,"1,256.00",600,56,656
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820.00,780,22,802
10,"The Titan's Curse: Percy Jackson, Book 3",RickRiordan,JesseBernstein,8 hrs and 48 mins,14-01-10,English,4.5 out of 5 stars130 ratings,820.00,480,48,528
11,Magic Tree House Collection: Books 9-16,MaryPopeOsborne,MaryPopeOsborne,5 hrs and 23 mins,24-08-11,English,5 out of 5 stars6 ratings,"1,206.00",300,23,323
12,Magic Tree House Collection: Books 1-8,MaryPopeOsborne,MaryPopeOsborne,6 hrs and 1 min,27-09-11,English,5 out of 5 stars7 ratings,"1,206.00",360,1,361
13,Magnus Chase and the Ship of the Dead,RickRiordan,MichaelCrouch,12 hrs and 58 mins,03-10-17,English,5 out of 5 stars41 ratings,820.00,720,58,778
14,Northern Lights,PhilipPullman,"PhilipPullman,fullcast,RuthWilson",11 hrs and 55 mins,24-06-21,English,4 out of 5 stars2 ratings,"1,093.00",660,55,715
15,Geronimo Stilton #13 and #14,GeronimoStilton,BillLobley,2 hrs and 25 mins,08-02-08,English,4.5 out of 5 stars33 ratings,467.00,120,25,145
16,Magic Tree House Collection,MaryPopeOsborne,MaryPopeOsborne,5 hrs and 4 mins,26-12-04,English,5 out of 5 stars7 ratings,"1,206.00",300,4,304
17,Exile,ShannonMessenger,CaitlinKelly,14 hrs and 41 mins,06-11-18,English,5 out of 5 stars20 ratings,836.00,840,41,881
18,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,10 hrs and 18 mins,02-05-17,English,5 out of 5 stars11 ratings,"1,256.00",600,18,618
19,Neverseen,ShannonMessenger,CaitlinKelly,16 hrs and 42 mins,06-11-18,English,5 out of 5 stars13 ratings,"1,003.00",960,42,1002
20,The Tower of Nero,RickRiordan,RobbieDaymond,12 hrs and 12 mins,06-10-20,English,5 out of 5 stars79 ratings,615.00,720,12,732
21,"Eldest: The Inheritance Cycle, Book 2",ChristopherPaolini,GerrardDoyle,23 hrs and 29 mins,14-04-09,English,4.5 out of 5 stars47 ratings,957.00,1380,29,1409
22,Artemis Fowl,EoinColfer,GerryO'Brien,6 hrs and 46 mins,11-04-13,English,5 out of 5 stars27 ratings,683.00,360,46,406
23,Geronimo Stilton 22 & 24,GeronimoStilton,BillLobley,2 hrs and 37 mins,01-02-11,English,4.5 out of 5 stars25 ratings,469.00,120,37,157
24,Percy Jackson and the Battle of the Labyrinth,RickRiordan,JesseBernstein,10 hrs and 32 mins,21-01-10,English,5 out of 5 stars101 ratings,820.00,600,32,632
25,Winnie-the-Pooh,A.A.Milne,PeterDennis,2 hrs and 46 mins,28-12-03,English,5 out of 5 stars15 ratings,468.00,120,46,166
26,Magic Tree House Collection: Books 25-32,MaryPopeOsborne,MaryPopeOsborne,7 hrs and 9 mins,01-09-20,English,5 out of 5 stars3 ratings,"1,256.00",420,9,429
27,Geronimo Stilton #20 and #21,GeronimoStilton,BillLobley,2 hrs and 32 mins,01-10-10,English,5 out of 5 stars18 ratings,469.00,120,32,152
28,The Red Pyramid,RickRiordan,"JaneCollingwood,JosephMay",13 hrs and 44 mins,24-01-13,English,4.5 out of 5 stars37 ratings,820.00,780,44,824
29,Mystery of the Griefer's Mark,WinterMorgan,LukeDaniels,1 hr and 53 mins,25-11-14,English,5 out of 5 stars9 ratings,233.00,60,53,113
30,Geronimo Stilton #17,GeronimoStilton,BillLobley,2 hrs and 28 mins,13-07-09,English,5 out of 5 stars8 ratings,468.00,120,28,148
31,The House at Pooh Corner,A.A.Milne,PeterDennis,3 hrs and 12 mins,05-04-05,English,5 out of 5 stars5 ratings,374.00,180,12,192
32,Mission Unstoppable,DanGutman,MichaelGoldstrom,6 hrs and 8 mins,01-08-13,English,5 out of 5 stars8 ratings,702.00,360,8,368
33,Darkness of Dragons,TuiT.Sutherland,ShannonMcManus,10 hrs and 26 mins,01-08-17,English,5 out of 5 stars8 ratings,656.00,600,26,626
34,"14 Short Stories Bundle for Kids: Adventure, S...",NayomiPhillips,"MonicaRachelle,JimD.Johnston,KatieOtten",3 hrs and 13 mins,22-01-19,English,Not rated yet,501.00,180,13,193
35,The Adventures of Rusty,RuskinBond,NehaGargava,5 hrs and 41 mins,01-11-18,Hindi,4.5 out of 5 stars10 ratings,284.00,300,41,341
36,Geronimo Stilton #15 and #16,GeronimoStilton,BillLobley,2 hrs and 43 mins,08-02-08,English,4 out of 5 stars28 ratings,467.00,120,43,163
37,The Lost Heir,TuiT.Sutherland,ShannonMcManus,7 hrs and 23 mins,04-02-16,English,5 out of 5 stars9 ratings,575.00,420,23,443
38,Everblaze,ShannonMessenger,CaitlinKelly,14 hrs and 39 mins,06-11-18,English,5 out of 5 stars18 ratings,836.00,840,39,879
39,Treasure Hunters in Trouble,WinterMorgan,LukeDaniels,1 hr and 58 mins,31-03-15,English,5 out of 5 stars7 ratings,668.00,60,58,118
40,Lodestar,ShannonMessenger,CaitlinKelly,16 hrs and 31 mins,06-11-18,English,5 out of 5 stars19 ratings,"1,003.00",960,31,991
41,Curse of the Arctic Star,CarolynKeene,JorjeanaMarie,3 hrs and 35 mins,28-12-14,English,4.5 out of 5 stars25 ratings,305.00,180,35,215
42,The Ghost of Grey Fox Inn,CarolynKeene,JorjeanaMarie,3 hrs and 19 mins,20-03-17,English,5 out of 5 stars11 ratings,305.00,180,19,199
43,Rowley Jefferson's Awesome Friendly Adventure,JeffKinney,ChristopherGebauer,1 hr and 31 mins,04-08-20,English,4 out of 5 stars16 ratings,410.00,60,31,91
44,Flashback,ShannonMessenger,CaitlinKelly,23 hrs and 9 mins,11-12-18,English,5 out of 5 stars12 ratings,"1,170.00",1380,9,1389
45,Secret of the Red Arrow,FranklinW.Dixon,TimGregory,3 hrs and 33 mins,04-11-15,English,4.5 out of 5 stars16 ratings,305.00,180,33,213
46,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,WalterLewis,3 hrs and 51 mins,13-01-10,English,4 out of 5 stars4 ratings,615.00,180,51,231
47,Clash of the Creepers,WinterMorgan,LukeDaniels,2 hrs and 1 min,07-07-15,English,5 out of 5 stars10 ratings,233.00,120,1,121
48,The Skeletons Strike Back,WinterMorgan,LukeDaniels,2 hrs and 1 min,07-07-15,English,5 out of 5 stars7 ratings,233.00,120,1,121
49,Dragonslayer,TuiT.Sutherland,ShannonMcManus,12 hrs and 44 mins,03-03-20,English,5 out of 5 stars17 ratings,656.00,720,44,764

In [32]:
# Check that all rows are in the same pattern
df[df['releasedate'].str.match(r'^\d{2}-\d{2}-\d{2}$')]

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes,duration_mins
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00,120,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,780,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,120,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,660,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600,0,600
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00,420,34,454
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00,600,7,607
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00,1140,4,1144
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00,240,8,248
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00,360,1,361

In [33]:
# To check that the number of rows of this pattern is equivalent to the number of rows of df
assert len(df['releasedate'].str.match(r'^\d{2}-\d{2}-\d{2}$')) == len(df), \
    "The number of rows do not consistent"

In [34]:
# Convert to DATETIME type
df['releasedate'] = pd.to_datetime(df['releasedate'])
df

/var/folders/0_/s8sxzn9n5jq5cx7f64dbfmj40000gn/T/ipykernel_10759/310842836.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['releasedate'] = pd.to_datetime(df['releasedate'])

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes,duration_mins
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00,120,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00,780,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00,120,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00,660,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,600,0,600
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,2017-09-03,English,Not rated yet,596.00,420,34,454
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,2017-02-21,English,Not rated yet,820.00,600,7,607
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,2016-12-30,English,Not rated yet,938.00,1140,4,1144
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,2011-02-23,English,Not rated yet,680.00,240,8,248
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,2017-07-03,English,Not rated yet,569.00,360,1,361

In [35]:
df.dtypes

name                     object
author                   object
narrator                 object
time                     object
releasedate      datetime64[ns]
language                 object
stars                    object
price                    object
hour                      int64
minutes                   int64
duration_mins             int64
dtype: object

# Language column

In [36]:
# Fetch unique language in Language column
unique_languages = df['language'].unique()
unique_languages

array(['English', 'Hindi', 'spanish', 'german', 'french', 'catalan',
       'swedish', 'italian', 'danish', 'finnish', 'dutch', 'hebrew',
       'russian', 'polish', 'galician', 'afrikaans', 'icelandic',
       'romanian', 'japanese', 'tamil', 'portuguese', 'urdu', 'hungarian',
       'czech', 'bulgarian', 'mandarin_chinese', 'basque', 'korean',
       'arabic', 'greek', 'turkish', 'ukrainian', 'slovene', 'norwegian',
       'telugu', 'lithuanian'], dtype=object)

In [37]:
# Capitalize all languages
df['language'] = df['language'].apply(lambda x: 'Mandarin Chinese' if x == 'mandarin_chinese' 
                                                else x.title())

df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes,duration_mins
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.00,120,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.00,780,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.00,120,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.00,660,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,600,0,600
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,2017-09-03,English,Not rated yet,596.00,420,34,454
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,2017-02-21,English,Not rated yet,820.00,600,7,607
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,2016-12-30,English,Not rated yet,938.00,1140,4,1144
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,2011-02-23,English,Not rated yet,680.00,240,8,248
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,2017-07-03,English,Not rated yet,569.00,360,1,361

In [38]:
df['language'].unique()

array(['English', 'Hindi', 'Spanish', 'German', 'French', 'Catalan',
       'Swedish', 'Italian', 'Danish', 'Finnish', 'Dutch', 'Hebrew',
       'Russian', 'Polish', 'Galician', 'Afrikaans', 'Icelandic',
       'Romanian', 'Japanese', 'Tamil', 'Portuguese', 'Urdu', 'Hungarian',
       'Czech', 'Bulgarian', 'Mandarin Chinese', 'Basque', 'Korean',
       'Arabic', 'Greek', 'Turkish', 'Ukrainian', 'Slovene', 'Norwegian',
       'Telugu', 'Lithuanian'], dtype=object)

# Price column

In [39]:
# Cast to FLOAT type
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].str.replace('Free', '0')
df['price'] = df['price'].astype(float)
df

,name,author,narrator,time,releasedate,language,stars,price,hour,minutes,duration_mins
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,120,20,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,780,8,788
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,120,3,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,660,16,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,600,0,600
...,...,...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,2017-09-03,English,Not rated yet,596.0,420,34,454
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,2017-02-21,English,Not rated yet,820.0,600,7,607
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,2016-12-30,English,Not rated yet,938.0,1140,4,1144
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,2011-02-23,English,Not rated yet,680.0,240,8,248
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,2017-07-03,English,Not rated yet,569.0,360,1,361